.skill-tool-tip {
    &:hover,
    &:active {
        .tooltip {
            display: inline !important;
            position: fixed !important;
            overflow: hidden !important;
        }
    }
    .tooltip {
        display: none !important;
        background: rgba(0, 0, 0, 0.8) !important;
        z-index: 500 !important;
        color: white !important;
        padding: 7px 20px !important;
        max-width: 200px !important;
        &__title {
            text-align: center !important;
            text-decoration: underline !important;
            font-weight: bold !important;
        }
        &__content {
            text-align: center !important;
        }
    }
}
