.skill-tool-tip {
    &:hover .tooltip {
        display: inline;
        position: fixed;
        overflow: hidden;
    }
    .tooltip {
        display: none;
        background: rgba(0, 0, 0, 0.8);
        z-index: 500;
        color: white;
        padding: 7px 20px;
        &__title {
            text-align: center;
            text-decoration:underline !important;
            font-weight: bold;
        }
        &__content {
            text-align: center !important;
        }
    }
}
