@import 'Variables';

.about {
    .section {
        padding-top: 40px !important;
    }
    .profile {
        padding: 30px 30px 0px 30px !important;
        &__photo {
            margin-right: 10%;
            margin-bottom: 10px;
        }
        &__info {
            color: #3d4451;
            padding-bottom: 18px;
            margin-bottom: 15px;
            border-bottom: 1px solid #dedede;
        }
        &__title {
            font-size: 23px;
            line-height: 1.1;
            font-weight: 700;
            margin-bottom: 5px;
            span {
                font-weight: 300;
                font-size: inherit;
            }
        }
        &__position {
            font-size: 12px;
            font-weight: 400;
            line-height: 1.1;
            margin-bottom: 0;
        }
        &__list {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                margin-bottom: 7px;
            }
            .title {
                display: block;
                width: 120px;
                float: left;
                color: #333333;
                font-size: 10px;
                font-weight: 700;
                line-height: 20px;
                text-transform: uppercase;
            }
            .cont {
                display: block;
                margin-left: 125px;
                font-size: 11px;
                font-weight: 400;
                line-height: 20px;
                color: #9da0a7;
            }
        }
        &__social {
            background-color: $red-theme;
            .social {
                margin: 0;
                padding: 0;
                list-style: none;
                text-align: center;
                li {
                    display: inline-block;
                    margin: 5px 10px;
                    a {
                        width: 40px;
                        height: 40px;
                        position: relative;
                        display: inline-block;
                        background-color: transparent;
                        border-radius: 50%;
                        line-height: 45;
                        &:hover {
                            background-color: rgba(0, 0, 0, 0.1);;
                            transition: background-color 300ms ease-in-out;
                        }
                        .fa {
                            color: #fff;
                            font-size: 15px;
                            line-height: 40px;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
