.skills {
    &__list {
        margin: 0px;
        li {
            width: 70px;
            display: inline-block;
            vertical-align: top;
            margin: 0px 16px 5px 17px;
        }
    }
    &__logo {
        height: 90px;
        position: relative;
        img {
            max-height: 100%;
            max-width: 100%;
            width: auto;
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    &__name {
        text-align: center;
        h4 {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 100%;
            font-weight: bold;
        }
    }
}
