.Content {
    .container {
        max-width: 960px !important;
        width: 100% !important;
        padding-left: 10px;
        padding-right: 10px;
    }
    .section {
        border: 1px solid black;
        padding-top: 70px;
    }
}
