@import 'Variables';

.contact {
    .fa {
        font-size: 20px !important;
        line-height: 40px;
        display: block;
    }
    /* label color */
    .input-field {
        label {
            color: $blue-darken-1 !important;
            font-size: 12px;
        }
        input, textarea {
            margin-bottom: 0px !important;
        }
    }
    /* label focus color */
    .input-field {
        input:focus+label,
        textarea:focus+label {
            color: $blue-darken-1 !important;
        }
    }
    /* label underline focus color */
    .input-field {
        input:focus,
        textarea:focus {
            border-bottom: 1px solid $blue-darken-1 !important;
            box-shadow: 0 1px 0 0 $blue-darken-1 !important;
        }
    }
    /* valid color */
    .input-field input.valid {
        border-bottom: 1px solid $blue-darken-1 !important;
        box-shadow: 0 1px 0 0 $blue-darken-1 !important;
    }
    /* invalid color */
    .input-field input.invalid {
        border-bottom: 1px solid $red !important;
        box-shadow: 0 1px 0 0 $red !important;
    }
    /* icon prefix focus color */
    .input-field .prefix.active {
        color: $blue-darken-1 !important;
    }
    &__send-button {
        margin-top: 15px;
    }
}