@import 'Variables';
.about-card {
    #header {
        box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.12), 0px 1.5px 1px 0px rgba(0,0,0,0.24) !important;
    }
    .name {
        font-size: 20px !important;
    }
    .title {
        font-size: 10px !important;
        line-height: 20px !important;
    }
    .about-sub-section {
        a {
            text-transform: none !important;
            padding: 5px 25px !important;
            &:before {
                // disable on hover animation
                content: none !important;
            }
        }
    }
    .resume-updated {
        line-height: 0px;
        font-size: 10px;
        margin-top: 5px;
    }
    .btn-print {
        font-size: 10px;
        padding: 4px 10px;
        margin-bottom: 5px;
        background-color: $red;
        color: white;
        &:hover {
            background-color: #B6B6B6;
            color: white;
        }
    }
}
