.about-card {
    #header {
        box-shadow: 0 0px 6px rgba(0, 0, 0, 0.12), 0 0px 0px rgba(0, 0, 0, 0.24) !important;
    }
    .name {
        font-size: 20px !important;
    }
    .title {
        font-size: 10px !important;
        line-height: 20px !important;
    }
    .about-sub-section {
        a {
            text-transform: none !important;
            padding: 5px 25px !important;
            &:before { // disable on hover animation
                content: none !important;
            }
        }
    }
}
