// Navbar specific styles
.Navbar {
    .logo {
        padding-left: 2%;
    }
    .dropdown--top-space {
        top: 41px !important;
    }
    nav, i {
        height: 40px !important;
        line-height: 40px !important;
    }
}
