@import 'Variables';

.navbar {
    * {
        font-size: inherit;
    }
    .logo {
        padding-left: 2%;
    }
    .dropdown--top-space {
        top: 41px !important;
    }
    .navbar-fixed, nav, i {
        height: 40px !important;
        line-height: 40px !important;
    }
    // .nav-wrapper {
    //     padding-left: 320px;
    //     padding-right: 320px;
    // }
    nav {
        background-color: $red-theme;
    }
    &__item {
        &.active {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}
