@import 'Variables';
.app {
    .content {
        padding: 20px 40px !important;
    }
    .resume-card {
        background: $white;
        margin-bottom: 20px;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    }
    .margLTop {
        margin-top: 50px !important;
    }
    .left-content {
        position: fixed !important;
        width: 280px !important;
    }
    .right-content {
        margin-left: 280px !important;
    }
    .main-title {
        border-bottom: none !important;
    }
    hr {
        &.divider--fade {
            // border-top: 1px solid $red;
            border: 0;
            height: 1px;
            background: $red;
            background-image: linear-gradient(to right, $red, $white, $white);
            margin-bottom: 10px;
        }
    }
}
