@import 'Variables';

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    color: #3d4451;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #efefef;
    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
        font-family: "Open Sans", sans-serif;
        margin: 0 0 25px 0;
        line-height: 1.1;
    }
    img {
        border: 0;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }
    .wrapper {
        opacity: 1;
        visibility: visible;
        position: relative;
        overflow: hidden;
    }
    * {
        font-size: 12px;
    }
}
